{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<h1> User Login </h1>

	{% if session.isLoggedIn %}
	<div><font color="green">You are now logged in. You can browse resources.</font></div>

	{% else %}
	<div><font color="red">{{ msgLoginFailed }}</font></div>
	<form class="pure-form pure-form-aligned" method="post" action="">
		<fieldset>
			<div class="pure-control-group">
				<label>Username</label>
				<input type="text" name="username" value="">
			</div>

			<div class="pure-control-group">
				<label>Password</label>
				<input type="password" name="password" value="">
			</div>

			<div class="pure-controls">
				<input class="pure-button pure-button-primary" id="button-login" type="submit" name="login" value="Submit">			
			</div>
		</fieldset>
	</form>
	{% endif %}
{% endblock %}