{% extends "base.html" %}

{% block title %}
User profile
{% endblock %}


{% block content %}
{% set public = constant('SlimBase\\Entities\\FieldProfile::FIELD_STATUS_PUBLIC') %}
{% set private = constant('SlimBase\\Entities\\FieldProfile::FIELD_STATUS_PRIVATE') %}
{% set labels = constant('SlimBase\\Entities\\FieldProfile::FIELD_LABELS')%}
{% set isDisabled = isEditable ? '' : 'disabled' %}
{% set fields = profile.fields %}

	<h1>Profile of {{ user.Username }}</h1>
	
	{% if isEditable %}
	<p>
		Here you can choose wether your profile is public, private or restricted.<br>
		<ul>
			<li> if public, all users can see  </li>
			<li> if private, only you can see  </li>
			<li> if restricted, you can select which users are allowed to see </li>
		</ul>
	</p>
	{% endif %}

	<form class="pure-form pure-form-aligned" method="post" action="">
		<fieldset>
			{% for key,label in labels %}
				{% if fields[key].status == public%}
					{% set pubSelected = 'selected'%}
					{% set privSelected = ''%}
				{% else %}
					{% set pubSelected = ''%}
					{% set privSelected = 'selected'%}
				{% endif %}

				<div class="pure-control-group">
					<label>{{ label }}</label>

					{% if isEditable %}
						<input type="text" name="{{ key }}" value="{{ fields[key].value }}">
						<select id="{{key ~ '_status'}}" name="{{key ~ '_status'}}">
							<option value="{{public}}" {{ pubSelected }}>{{public}}</option>
							<option value="{{private}}" {{ privSelected }}>{{private}}</option>
						</select>
					{% else %}
						{% if fields[key].status == public %}
							<span> {{ fields[key].value }}</span>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}

			{% if isEditable %}
				<div class="pure-controls">
					<input class="pure-button pure-button-primary" id="button_profile_save" type="submit" name="profile_save" value="Submit">			
				</div>
			{% endif %}
		</fieldset>
	</form>
{% endblock %}
