{% extends "base.html" %}

{% block title %}
	User Registration
{% endblock %}

{% block content %}
	<h1> User Registration </h1>

	{% if msgRegisterSuccess %}
	<div><font color="green">{{ msgRegisterSuccess }}</font></div>

	{% else %}
	<form method="post" action="">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" value=""></td>
				<td><font color="red">{{ msgUsernameError }}</font></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" value=""></td>
				<td><font color="red">{{ msgPasswordError }}</font></td>
			</tr>
		</table>
		<input id="button-register" type="submit" name="register" value="Submit">
	</form>
	{% endif %} 
{% endblock %}
