{% extends "base.html" %}

{% block title %}
	Register
{% endblock %}

{% block content %}
	<h1> User Registration </h1>

	{% if msgRegisterSuccess %}
	<div><font color="green">{{ msgRegisterSuccess }}</font></div>

	{% else %}
	<form class="pure-form pure-form-aligned" method="post" action="">
		<fieldset>
			<div class="pure-control-group">
				<label>Username</label>
				<input type="text" name="username" value="">
				<span class="pure-form-message-inline"><font color="red">{{ msgUsernameError }}</font></span>
			</div>


			<div class="pure-control-group">
				<label>Password</label>
				<input type="password" name="password" value="">
				<span class="pure-form-message-inline"><font color="red">{{ msgPasswordError }}</font></span>
			</div>

			
			<div class="pure-controls">
				<input class="pure-button pure-button-primary" id="button-register" type="submit" name="register" value="Submit">			
			</div>
		</fieldset>
	</form>

	{% endif %} 
{% endblock %}
